.div{
    margin: 20px 20px;
}

.a{
    background-color: aqua;
    padding: 10px;
}

.b{
    background-color: aqua;
    padding: 10px;
}

.c{
    background-color: aqua;
    padding: 10px;
}

.d{
    background-color: rgb(160, 255, 255);
    padding: 10px;
}